:root{
    --primary-color:#ff5d9e;
}

body{
    background-color: #fcf8f3;
}
nav{
    color: #068b78;
}
.about-section{
    font-family: 'Poppins', sans-serif;
}

.contact-section{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}
.photo{
    margin-left: 150px;
    
}
ul{
   list-style: none; 
}


.SheCodes{
    color: #068b78;
}
a{
    color: #feffdf;
    text-decoration: none;
}
a:hover{
    color: #feffdf;
}
.link-github{
    color: #3b0944;
}
a.link-github:hover{
    color: #645fce;
}
h1,h2,h3,h4,h5,h6,h7{
   
    font-family: 'Poppins', sans-serif;
    
}
h3,h4,h5{
    font-size: 20px;
}
h3,h4,h5,h7{
    color: #068b78;
}
h2{
  color: #068b78;  
   font-size: 10px;
}
h7{
    font-weight: bold;
    line-height: 3;
      display: flex;
    flex-direction: column;
    text-align: center;
   
}
p{
    font-family: 'Poppins', sans-serif;
}

.weather-button{
    font-family: 'Poppins', sans-serif;
    background-color: #ff5d9e;
    border: none;
    border-radius: 20px;
    padding: 10px;
    
}

.dict-button{
    font-family: 'Poppins', sans-serif;
    background-color: #ff5d9e;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.hp-button{
    font-family: 'Poppins', sans-serif;
    background-color: #ff5d9e;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.contact-button{
    
    border-radius: 7px;
    padding: 15px;
    color: #fcf8f3;
    background: #ff5d9e;
    font-family: 'Poppins', sans-serif;
    border: none;
    
}
.contact-box{
    display: flex;
    justify-content: center;
    padding: 15px;
    background: #f5e1da;
    border-radius: 6px;
   
}
.introduction{
    margin: 15px;
    padding: 10px;
}
@media(max-width:500px){
    h1,h2,h6{
       text-align: center; 
    }
.contact-box{
    
    flex-direction: column;
}
.contact-button{
   display: block;
   margin: 0 auto;
}

p{
    text-align: center;
}
.introduction{
   margin: 3px;
   padding: 13px;
}
.projects-section{
    flex-direction:column;
}
}